* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
}

nav {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    column-gap: 27px;
}

.main-ul {
    display: flex;
    column-gap: 92px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
}


.main-ul a {
    text-decoration: none;
    background-color: black;
}


.nav-btns {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu-btns {
    display: none;
}

.menu-btns > img:nth-of-type(1){
    padding-right: 10px;
}

.logo-div {
    padding-top: 10px;
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px;
}

button[name="login"] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 23px;
}

button[name="start"] {
    padding: 11px;
    width: 128px;
    border-style: none;
    font-size: 16px;
    background-color: #1b903a;
    color: white;
    border-radius: 9px;
}

img[alt="menu-burger"] {
    display: none;
}

.ul-list li{
    background-color: black;
}


/* nav media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    .main-ul {
        flex-direction: column;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .main-ul a {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }
    .display li{
        background-color: black;
    }

    .ul-list a:hover {
        color: white;
    }


    .ul-list li {
        padding-bottom: 32px;
        font-size: 23px;
    }

    img[alt="menu-burger"] {
        display: block;
    }


    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {
    .main-ul {
        flex-direction: column;
    }

    .main-ul a {
        color: white;
    }
    .display li{
        background-color: black;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 32px;
        font-size: 23px;

    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    .main-ul {
        flex-direction: column;
    }

       .display li{
        background-color: black;
    }
    .main-ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 32px;
        font-size: 23px;

    }


    .nav-btns {
        display: none;
    }




    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {

    .main-ul {
        flex-direction: column;
    }

    .display li{
        background-color: black;
    }
    .main-ul a {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 102px;
        right: 34px;
        border: 2px solid white;
        padding: 41px;
        background-color: #000000;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 32px;
        font-size: 23px;

    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
}


.background-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    margin: auto;
    width: 67%;

}


.intro {
    text-align: left;
    margin: auto;
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.intro > div:nth-of-type(1){
    width: 61%;
}

.intro > div:nth-of-type(2){
    width: 23%;
}

.intro h1 {
    font-size: 77px;
    width: 75%;
    text-align: left;
}

.intro p {
    width: 73%;
    font-size: 20px;
    width: 98%;
    margin: auto;
    font-size: 24px;
}


img[alt="mini-one"] {
    position: relative;
    bottom: 448px;
    left: 154px;
}

img[alt="mini-two"] {
    position: relative;
    bottom: 155px;
    left: 52px;
}

img[alt="run"] {
    background-color: #EF8964;
    width: 39px;
}



img[alt="background-person"] {
    width: 100%;
}

/* intro media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .intro h1 {
        width: 100%;
     }
 
     .intro > div:nth-of-type(1){
        width: 100%;
    }
    
    .intro > div:nth-of-type(2){
        width: 47%;
    }
    


    img[alt="mini-one"] {

        bottom: 448px;
        left: 154px;
    }

    .intro{
        width: 95%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .intro h1 {
       width: 100%;

    }
    .intro > div:nth-of-type(1){
        width: 100%;
    }
    
    .intro > div:nth-of-type(2){
        width: 47%;
    }
    

    img[alt="mini-one"] {
        bottom: 448px;
        left: 154px;
    }
    
    .intro{
        width: 95%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .intro h1 {
        width: 100%;

     }
 
     .intro > div:nth-of-type(1){
        width: 100%;
    }
    
    .intro > div:nth-of-type(2){
        width: 47%;
    }
    
    img[alt="mini-one"] {
        bottom: 448px;
        left: 154px;
    }
    
    .intro{
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .intro h1 {
        width: 100%;
     }
     .intro > div:nth-of-type(1){
        width: 100%;
    }
    
    .intro > div:nth-of-type(2){
        width: 47%;
    }



    img[alt="mini-one"] {
        left: 154px;
    }
    
    .intro{
        width: 95%;
    }
}

.join-club-btn-div {
    padding-top: 25px;
}

button[name="join-btn"] {
    padding: 20px;
    border-radius: 20px;
    border-style: none;
    background-color: #f46632;
    color: white;
    font-size: 18px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.relative-to-img-div {
    position: relative;
}

.sponsors-container {
    margin: auto;
}

.sponsors {
    padding: 33px;
    font-size: 22px;
}

#sponsor-title {
    text-align: left;
    font-weight: 500;
}

.sponsors-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 53px;
    row-gap: 15px;
    padding-top: 10px;
}


/* background content media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .background-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .background-side-text {
        width: 65%;
        padding: 13px;
        margin: auto;
    }

    .absolute-img-div {
        position: absolute;
        top: 61px;
        right: 71px;
    }

    .background-img-div {
        position: unset;
        margin: auto;
        width: 35%;
        padding-top: 87px;

    }

   

    .join-club-btn-div {
        width: 100%;
        margin: auto;
        display: flex;
        padding-top: 25px;
        text-align: center;
    }

    button[name="join-btn"] {
        font-size: 33px;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {
    .background-content {
        flex-wrap: wrap;
        width: 100%;
    }
    .background-side-text {
        margin: auto;
        width: 73%;
    }

    .absolute-img-div {
        margin: auto;
    }

    .background-img-div {
        position: unset;
        margin: auto;
        width: 36%;
        padding-top: 57px;

    }

    .join-club-btn-div {
        width: 100%;
        margin: auto;
        padding-top: 25px;
    }

    button[name="join-btn"] {
        font-size: 33px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .background-content {
        flex-wrap: wrap;
        width: 100%;
    }

    .sponsors-div {
        justify-content: center;
    }

    #sponsor-title {
        text-align: center;
    }

    .background-side-text {
        margin: auto;
        width: 73%;
    }

    .absolute-img-div {
        margin: auto;
    }


    .background-img-div {
        position: unset;
        margin: auto;
        width: 100%;
        padding-top: 87px;

    }

    .join-club-btn-div {
        width: 100%;
        margin: auto;
        padding-top: 25px;
    }

    button[name="join-btn"] {
        font-size: 33px;
    }
}

@media screen and (max-width: 600px) {
    .background-content {
        flex-wrap: wrap;
        width: 100%;
    }
    .background-side-text {
        margin: auto;
        width: 73%;
    }

    .absolute-img-div {
        margin: auto;
    }

    .background-img-div {
        position: unset;
        margin: auto;
        width: 100%;
        padding-top: 87px;

    }


    .join-club-btn-div {
        width: 100%;
        margin: auto;
        padding-top: 25px;
    }

    button[name="join-btn"] {
        font-size: 33px;
    }
}

.start {
    padding: 21px;
    text-align: center;
    position: relative;
}

.start>p {
    padding-bottom: 20px;
    font-size: 25px;
}

.start>h2 {
    font-size: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    color: white;
    justify-content: center;
}

.card-text {
    display: flex;
    justify-content: space-evenly;
    background-color: #40414a;
}

.card-text>p {
    background-color: #40414a;
    font-size: 22px;
}



.card-content {
    padding: 84px;
    text-align: center;
    width: 22%;
    margin-top: 15px;
    background-color: #40414a;
    border-style: none;
    border-radius: 20px;
}



.card-content>h3 {
    padding-bottom: 15px;
    font-size: 27px;
    background-color: #40414a;
}

.offer p {
    font-size: 20px;
    text-align: left;
    width: 84%;
}

.offer h2 {
    font-size: 43px;
    text-align: left;
}

.offer-text {
    padding: 12px;
    width: 60%;
}


.offer-img-div{
    width: 35%;
}
/* Cards media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .card-text>p {
        width: 100%;
        font-size: 32px;
    }

    .card-content {
        width: 41%;
        margin-bottom: 27px;
    }
    .offer-text{
        width: 100%;
    }
 

    .offer p {
        width: 100%;
    }

  

    .see-more-div>a {
        font-size: 39px;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .card-text>p {
        width: 100%;
        font-size: 32px;

    }
    .offer-text{
        width: 100%;
    }

    .card-content {
        width: 85%;
        margin-bottom: 27px;
    }


    .offer p {
        width: 100%;
    }



    .see-more-div>a {
        font-size: 39px;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .card-text>p {
        width: 100%;
        font-size: 32px;

    }
    .offer-text{
        width: 100%;
    }

    .card-content {
        width: 85%;
        margin-bottom: 27px;
    }


    .offer p {
        width: 100%;
    }

 

    .see-more-div>a {
        font-size: 39px;
    }

}

@media screen and (max-width: 600px) {
    .card-text>p {
        width: 100%;
        font-size: 32px;

    }
    .offer-text{
        width: 100%;
    }

    .card-content {
        width: 85%;
        margin-bottom: 27px;
    }

    .offer h2 {
        font-size: 30px;
    }

    .offer p {
        width: 100%;
        font-size: 21px;
    }


    .see-more-div>a {
        font-size: 39px;
    }
}

.offer {
    display: flex;
    padding: 30px;
    margin: auto;
    width: 88%;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

img[alt="offer-img"] {
    border-radius: 8px;
    width: 100%;
}

/* offer media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    img[alt="offer-img"] {
        width: 97%;
        padding-top: 24px;
    }

    .offer {
        width: 88%;
        margin: auto;
    }
    .offer-img-div{
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    img[alt="offer-img"] {
        padding-top: 24px;
        width: 98%;
    }

    .offer {
        width: 88%;
        margin: auto;
    }
    .offer-img-div{
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    img[alt="offer-img"] {
        padding-top: 10px;
        width: 99%;
    }

    .offer {
        width: 88%;
        margin: auto;
    }
    .offer-img-div{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    img[alt="offer-img"] {
        padding-top: 10px;
        width: 100%;
    }

    .offer {
        width: 88%;
        margin: auto;
    }
    .offer-img-div{
        width: 100%;
    }
}

.training {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    text-align: center;
    align-items: center;
    column-gap: 77PX;
    row-gap: 38px;
    width: 88%;
    margin: auto;
    justify-content: space-evenly;
}

.training > div:nth-of-type(1){
    width: 35%;
}

.training > div:nth-of-type(2){
    width: 56%;
}

.training p {
    font-size: 20px;
    text-align: left;
    padding-top: 25px;
    width: 87%;
}

.training h3 {
    font-size: 38px;
    text-align: left;
}

img[alt="training"] {
    border-radius: 8px;
    width: 100%;
}

/* training media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .training {
        flex-wrap: wrap;
        justify-content: center;
        width: 88%;
        margin: auto;
    }

    .training > div:nth-of-type(1){
        width: 100%;
    }
    .training > div:nth-of-type(2){
        width: 100%;
    }
    .training p {
        width: 100%;
    }

    img[alt="training"] {
        width: 100%;
    }

    .training h3 {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .training {
        flex-wrap: wrap;
        justify-content: center;
        width: 88%;
        margin: auto;

    }
    
    .training > div:nth-of-type(1){
        width: 100%;
    }
    .training > div:nth-of-type(2){
        width: 100%;
    }

    img[alt="training"] {
        width: 100%;
    }

    .training p {
        width: 100%;
    }

    .training h3 {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .training {
        flex-wrap: wrap;
        justify-content: center;
        width: 88%;
        margin: auto;
    }
    
    .training > div:nth-of-type(1){
        width: 100%;
    }
    .training > div:nth-of-type(2){
        width: 100%;
    }
    img[alt="training"] {
        width: 100%;
    }

    .training p {
        width: 100%;
    }

    .training h3 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .training {
        width: 88%;
        margin: auto;
    }

    img[alt="training"] {
        width: 100%;
    }

    
    .training > div:nth-of-type(1){
        width: 100%;
    }
    .training > div:nth-of-type(2){
        width: 100%;
    }
    .training p {
        width: 100%;
    }

    .training h3 {
        width: 100%;
    }
}

.membership {
    padding: 51px;
    text-align: center;
}

.membership > div:nth-of-type(1){
    width: 86%;
    margin: auto;
}

.membership h2 {
    padding-bottom: 25px;
    font-size: 54px;
}

.member {
    text-align: left;
    padding-left: 150px
}

.membership-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.membership-cards p {
    background-color: #40414a;
}

.card {
    width: 40%;
    background-color: #40414a;
    color: white;
    font-size: 22px;
    padding: 50px;
}

.card>ul {
    width: 100%;
    text-align: left;
    padding-top: 20px;
    background-color: #40414a;
}

.card li {
    background-color: #40414a;
}

.card>h2 {
    text-align: center;
    background-color: #40414a;
}

.see-more-div {
    display: flex;
    width: 69%;
    padding-top: 20px;
}

.see-more-div-membership {
    padding-top: 103px;
    display: flex;
    margin: auto;
    background-color: #40414a;
    align-items: center;
}


.see-more-div-membership>a {
    color: rgb(56 98 179);
    font-weight: 600;
    text-decoration: none;
    background-color: #40414a;
}


.join-club-div {
    padding-top: 30px;
    display: flex;
    margin: auto;
    background-color: #40414a;
}


.see-more-div>a {
    font-size: 29px;
    color: rgb(56 98 179);
    font-weight: 600;
    text-decoration: none;
}

img[alt="right-arrow"] {
    padding-left: 15px;
    background-color: #40414a;
}

img[alt="right-black-arrow"] {
    padding-left: 15px;
}

button[name="join-club"] {
    padding: 7px;
    background-color: rgb(56 98 179);
    border-radius: 13px;
    border-style: none;
    color: white;
    font-size: 16px;
    width: 150px;
}



@media screen and (max-width: 1200px) and (min-width:992px) {
    .card {
        width: 35%;
        font-size: 44px;
        margin-bottom: 63px;
        width: 93%;
        font-size: 28px;
    }


    button[name="join-club"] {
        font-size: 17px;
    }

    .see-more-div {
        width: 100%;
    }

    .membership h2 {
        font-size: 54px;
    }

    .membership-cards h2 {
        font-size: 50px;
    }



    .member {
        padding-left: 0;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .card {
        width: 100%;
        font-size: 44px;
        margin-bottom: 63px;
        width: 93%;
        font-size: 28px;
    }
}



button[name="join-club"] {
    font-size: 17px;
}

.see-more-div {
    width: 86%;
}

.see-more-div>a {
    font-size: 29px;
}

.membership h2 {
    font-size: 54px;
}

.membership-cards h2 {
    font-size: 50px;
}

.join-club-div>button {
    font-size: 23px;
    font-size: 30px;
    width: 298px;
    padding: 19px;
}

.member {
    padding-left: 0;
}

.see-more-div-membership>a {
    font-size: 32px;
}


@media screen and (max-width: 786px) and (min-width:600px) {
    .card {
        width: 100%;
        font-size: 44px;
        margin-bottom: 63px;
        width: 93%;
        font-size: 18px;
    }

    .card>p {
        width: 91%;
    }

    .membership-cards {
        row-gap: 15px;
    }

    button[name="join-club"] {
        font-size: 17px;

    }

    .see-more-div {
        width: 100%;
    }

    .membership h2 {
        font-size: 54px;
    }

    .membership-cards h2 {
        font-size: 50px;
    }

 


    .member {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        font-size: 44px;
        margin-bottom: 63px;
        width: 93%;
        font-size: 18px;
    }

    .card>p {
        text-align: center;
    }

    .membership-cards {
        row-gap: 15px;
    }

    button[name="join-club"] {
        font-size: 17px;
    }

    .see-more-div {
        width: 100%;
    }

    .membership h2 {
        font-size: 54px;
    }

    .membership-cards h2 {
        font-size: 50px;
    }



    .member {
        padding-left: 0;
    }
}

.offers-list{
    padding: 20px;
}
.offers-list li {
    color: white;
}

hr {
    background-color: #9191a3;
}

.display{
    display: block;
}